*, *::before,*::after{
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


:root {
    --white: #fffeff;
    --mag: #ff01fb;
    --blue: #02a9ea;
    --yel: #faff00;
    --black: #000300;
}


body{
background-color: var(--blue);
color: var(--white);
padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    top: 0px; 
    height: 140px;
    padding-bottom: 50px;
    background-color: var(--mag);
}

/* header h2{
    left: 50px; 
    position: fixed;
}

header p{
    top: 20px;
    left: 50px;
    position: fixed;
} */

#startScreen{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-width: 10px;
    border-color: #000300;
    background-color: var(--white);
    padding: 0px 5px 10px 5px;
    }
    
#startScreen h1{
    font-size: 64px;
    text-align: center;
    color: var(--black)
}

#startScreen p{
    font-size: 48px;
    text-align: center;
    color: var(--black);
}

#startScreen button{
background-color: var(--blue);
font-size: 32px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border-color: var(--black);
border-radius: 50%;
padding: 1%; 
display: flex;
margin: auto;
}

#container{
    width: 800px;
    max-width: 80%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    color: var(--black);
    box-shadow: 0 0 10px 2px;
    font-size: 64px;
    margin-top: 80px;
}

.btn-list{
    display: grid;
    text-align: left;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    }

.btn{
        background-color: var(--mag);
        font-size: 24px;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-radius: 5px;
    }

#question{
    margin-bottom: 10px;
    font-weight: bold;
        
    }

#answer-status {
    font-size: 20px;
}
    
#highScoreContainer{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-style: solid;
        border-width: 5px;
        border-color: #000300;
        background-color: var(--white);
        padding: 0px 5px 10px 5px;
       
        
       
    }
  

#highScoreContainer h1{
    color: black;
}
#highScoreContainer p{
    color: var(--black);
}

#scoreStorage p{
    display: inline-block;
    margin-left: 5px;
}

#start-over button{
    background-color: var(--blue);
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: var(--black);
    border-radius: 50%;
    padding: 4%; 
 
    margin-top: 20px;
    margin-left: 20px;
    }

.hide{
    display: none;
}

