:root {
    --white: #fffeff;
    --mag: #ff01fb;
    --blue: #02a9ea;
    --yel: #faff00;
    --black: #000300;
    }

body{
background-color: var(--black);
color: var(--white);
    }

.startScreen{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10%;
    
}
.startScreen h1{
    font-size: 64px;
    text-align: center;
}

.startScreen p{
    font-size: 48px;
    text-align: center;
}

.startScreen button{
background-color: var(--yel);
font-size: 32px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border-color: #ff01fb;

display: flex;
justify-content: center;
align-items: center;
}

